/* herencia
p{
    color: rebeccapurple;
    
}
a{
    color: inherit;
}*/

/* etiqueta ->1 
clases y pseudoclases->10
id->100
estilos en linea->1000
!importent-> gana a todo
important->especifidad->cascada*/

/* especificidad*/

#parrafo{
    color: burlywood;
}
.parrafo{
    color: blue;
}
a{
    color: inherit;
}
p{
    color: red !important;
}

.parrafo2{
    color: black !important;
}